
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.fondodeheader{

    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0);
    position: relative;
}

.logotipo{  

    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 60px;
}

nav ul{

    color: rgb(0, 0, 0);
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    
}

nav ul li{
    
    font-family: 'Manrope', sans-serif;
    padding: 6px;
    margin: 6px;
}

.fotofondo {

    background-image: url(../multimedia/FOTO1\ -\ Editado.png);
    background-size: cover;
    background-position: center;
    margin-top: 0px;

}

a{

    text-decoration: none;
    color: black;
    
}



h1{

    color:rgb(255, 255, 255);
    font-family: 'Fugaz One', cursive;

    
}

.fmtraining{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: right;
    letter-spacing: 35px;
    text-decoration: underline 4px green;
}


.fuerzaymente{

    color:rgb(76, 165, 41);
    letter-spacing: 4px;
    font-family: 'Fugaz One', cursive;
    font-size: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}

.tamañoparrafo{

    width: 200px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
}

.titulo2inicio{

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;

    width: 560px;

}

.cajasinicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.caja1{

    background-color: rgb(0, 0, 0);
    width: 200px;
    font-family: 'Fugaz One', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.caja2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 200px;
    font-family: 'Fugaz One', cursive;
    color: white;
}



.iconocronograma{
    width: 80px;
    height: 80px;


}
div.horarios {
    width: 100%;
    text-align: center;

}
.horarios img{
    width:  650px;
    height: 450px;

}

/* CONTACTO HTML */

.fondocontacto{
    background-image: url(../multimedia/fondocontacto.png);
    background-size: cover;
    background-position: center;
    height: 200vh;
    position: relative;
}


.titulocontacto{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    background-color: black;
}

.titulocontacto2{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    bottom: 295px;
    font-size: 20px;



}

form{

    background-color: rgb(187, 187, 187);
    color:rgb(75, 75, 75);
    position: absolute;
    bottom: 0px;
} 

footer{
    background-color: black;
    
}

.derechos p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
    position: absolute;
    right: 10px;
}

.iconoinsta{
    width: 30px;
    height: 30px;
    background-color: rgb(64, 160, 34);
    
}

.caja3{
    display: inline-block;

}

.caja4{
    display: inline-block;
    font-family: 'Fugaz One', cursive;
}

div.caja4 a{
color: white;
}

/* NOSOTROS HTML */


.titulonosotros{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    float: top;
    margin-bottom: 50px;
}

.fotosnosotros{
    width: 530px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.fotosnosotros img{

    margin-left: 10px;
    float: left;
    margin-top: 8px;
}

.sectionnosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




div.cajanosotros{
    width: 400px;
    margin-right: 150px;
}

.parrafonosotros{

    color:white;
    width: 400px;
}


.fotofondo2{

    background-image: url(../multimedia/fondonosotros.png);
    background-size: cover;
    background-position: center;
    height: 250vh;
    position: relative;

}

/* SERVICIOS HTML */

.fondoservicios{
    background-image: url(../multimedia/fondoservicios.png);
    background-size: cover;
    background-position: center;
    height: 200vh;
    position: relative;
}

div.horarios{
    position: absolute;
    bottom: 10%

}


.serviciostitulo{
    text-align: center;
    font-size: 50px;
    float: top;
    background-color: rgb(0, 0, 0);

}


.fondonosotros{

    background-image: url(../multimedia/FOTO\ FONDO\ ESPACIO.png);
    background-size: cover;
    background-position: center;
    height: 200vh;
}


/* ESPACIO HTML */

.tituloespacio{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    float: top;
    background-color: rgb(0, 0, 0);

}

/* EQUIPO HTML */

.fondoequipo{
    background-image: url(../multimedia/fondoquipo.png);
    background-size: cover;
    background-position: center;
    height: 200vh;
    position: relative;
}

/* UBICACIÓN HTML */

.fondoubicacion{
    background-image: url(../multimedia/fondoubicacion.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.cajamapa{
    width: 100%;
    text-align: center;
}

.mapa{
    width: 500px;
    height: 400px;
    
}


/* GRID INDEX */

.contenedor1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 1fr 0,1fr;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

.fondodeheader{
    grid-area: nav;
}

.fotofondo{
    grid-area: main;
}

.footer1{
    grid-area: footer;
}

.navegador{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo menu1"
}

.logotipo{
    grid-area: logo;
}

.menu1{
    grid-area: menu1;
}

.fmtraining{
    grid-area: menu1;
}

.contenido{
    grid-area: menu1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "menu1"
    "fmtraining"
    
}

.menu1{
    grid-area: menu1;

}

.fmtraining{
    grid-area: fmtraining;
    margin-right: 10px;
}
