

.fondonosotros{

    background-image: url(../multimedia/FOTOFONDOESPACIO.png);
    background-size: cover;
    background-position: center;
    height: 200vh;
    .tituloespacio{
        color: rgb(255, 255, 255);
        font-size: 50px;
        text-align: center;
        float: top;
        background-color: rgb(0, 0, 0);
    }
}