
.sectionnosotros1{
    background-color: gray;
    .divnosotros{
        .titulonosotros{
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 50px;
            background-color: rgb(0, 0, 0);
            margin: 0px;
        }
    }
}



.fotofondo2{
    background-image: url(../multimedia/fondonosotros.png);
    background-size: cover;
    background-position: center;
    height: 250vh;
    .cajafotos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 40px;
        .fotosnosotros{
            width: 530px;
            height: 1110px;
            margin-left: 0px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            border: 2px solid white;
            img{
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        .cajanosotros{
            padding: 10px;
            width: 400px;
            background-color: rgba(0, 0, 0, 0.7);
            .parrafonosotros{
                
                color:rgb(255, 255, 255);
                font-size: 20px;
                line-height: 50px;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                text-align: center;        
            }
        }
    }
}

.footernosotros{
    background-color: black;
    .divfooter{
        padding: 0%;
        .derechos p{
            font-family: 'Montserrat', sans-serif;
            color: white;
            background-color: black;
            position: absolute;
            right: 10px;
        }
        .caja3{
            display: inline-block;
            .iconoinsta{
                width: 30px;
                height: 30px;
                background-color: rgb(148, 255, 116);
            }
        }
        .caja4{
            display: inline-block;
            font-family: 'Fugaz One', cursive;
            a{
                color: white;
            }
        }
    }
}



